@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap");

.App {
  height: 100%;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

header {
  background-color: green;
  padding: 20px auto;
  width: 100%;
  height: fit-content;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 400;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 0;
}

div.container {
  width: 960px;
  border: 2px solid black;
  margin: 10px auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.container div:first-child {
  margin: 5px 0 5px 10px;
}

.container div:last-child {
  margin: 5px 0 5px 0;
}

form input {
  margin: 5px 0;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

h4 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.card {
  box-shadow: 0 2px 0 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 15px;
  width: 90%
}

.card:hover {
  box-shadow: 0 4px 0 2px rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 12px 16px;
  background-color: #e7f3fe;
  border-left: 6px solid #2196f3;
}

form input {
  width: 50%;
}

#submitButton {
  display: block;
  width: 50%;
  border: none;
  background-color: #4caf50;
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.completed .card-container {
  background-color: #ddffdd;
  border-left: 6px solid #4CAF50;
}

.overdue .card-container {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}